*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, white, rgb(248, 237, 237));
    position: sticky;
}


.checkbutton{
    font-size: 30px;
    color: brown;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

ul{
    display: flex;
}

li{ 
    text-align: center;
    margin: 30px; 
    font-weight:bold;
    font-size: 17px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer
    }

li a:hover{
    color: #c47040

}

.eslogan{
    background-image: url(https://phantom-elmundo.unidadeditorial.es/acc2877ef5e5265e3b93bc27c8321f98/crop/0x0/2731x2048/resize/2560/f/webp/assets/multimedia/imagenes/2022/05/09/16521030719003.jpg);
    height: 98vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center
}

h1{
    color: white;
    font-size: 50px;
    margin-right: 65%;
    font-family: 'Dancing Script', cursive;
}

.nosotros{
    margin: 50px;
    font-size: 30px;
    text-align: center
} 

.container-card{
    display: flex;
    align-content: stretch;
    justify-content: center;
    margin: 50px 100px;
}

.card-1{
    background-color: #f3ab822b;
    margin: 2rem;
    width: 300px;
    height: 350px;
    box-shadow: 0 0 1rem rgb(203, 121, 50);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-size:medium;
    justify-content: space-evenly;
}

.card{
    width: 100px;
    height: 100px;
}


.card-1 p{
    font-size: 20px;
}

.tarjetas{
margin: 15px;
}

h2{
    margin: 10px;
}

.contacto{
    display: flex;
    align-items: center;
    justify-content: space-evenly
}


.h2-contacto{
    display: flex;
    justify-content: center;
}

.ul-contacto{
    flex-direction: column;
    margin-bottom: 75px;
}

.info{
    margin: 7px;
}

.container-formulario{
    display: flex;
    flex-direction: column

}

.input-consulta{
    width: 170px;
    height: 100px;
}
.maps{
    margin-bottom: 7%;
}

.enviar{
    display: flex;
    justify-content: center;
    height: 2rem;
    width: 8rem;
    background-color: #c47040;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    padding: 9px;
    margin: 2rem 0 2rem 0;
}

footer{
    background-color: #c47040;
    color: #f8eac9;
    text-align: center;
    height: 3%;
    padding: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
}

